@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hide-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}